
.ant-progress-circle-text {
    font-size: 13px !important; 
  }
  
.progressbar{
    display: flex;
    justify-content: center;
}
.assembling-bike{
    margin: 20px;
}
.name{
    font-size: 16px;
     font-weight: 600;
}